body, html {
    max-width: 900px;
    margin: auto;
}

/*.container {*/
/*    width: 768px;*/
/*    max-width:768px;*/
/*}*/

@media (min-width: 800px) {
    .container-fluid{
        max-width: 768px;
    }
}
